<div class="page-container">
  <div class="container">
    <div class="row" style="margin: 50px auto">
      <div class="col-xs-12 col-md-4"></div>
      <div class="col-xs-12 col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="icon-user"></i>&nbsp; Forgot your password?
          </div>
          <div class="panel-body" style="background: #F8F8F8">

            <div ng-show="passwordResetCodeForm._completed">
              <p ng-bind-html-unsafe="passwordResetCodeForm._successMessage"></p>
              <p>
                Check your email for the new password.
              </p>
            </div>

            <div ng-hide="passwordResetCodeForm._completed">
              <form name="passwordResetCodeForm" ng-submit="PasswordResetCodeCheck();">

                <div ng-show="passwordResetCodeForm._errorMessage" class="alert alert-danger">
                  <span ng-bind-html-unsafe="passwordResetCodeForm._errorMessage"></span>
                </div>

                <div class="form-group">
                  <label class="control-label" for="inputEmail">
                    Enter the passcode to continue:
                  </label>
                  <input name="inputEmail" ng-model="frmInput.passcode" type="text" class="form-control" placeholder="passcode" required="">
                </div>
                <button type="submit" class="btn btn-success">Continue <i class="icon-circle-arrow-right"></i></button>
              </form>
            </div>

            <!--            <div ng-show="passwordResetForm._visible">
                          <form name="passwordForgetForm" ng-submit="PasswordReset();">
            
                            <div ng-show="passwordForgetForm._errorMessage" class="alert alert-danger">
                              <span ng-bind-html-unsafe="passwordForgetForm._errorMessage"></span>
                            </div>
            
                            <div class="form-group">
                              <label class="control-label" for="inputPassword">
                                New Password:
                              </label>
                              <input name="inputPassword" ng-model="frmInput.newPassword" type="password" class="form-control" required />
                            </div>
            
                            <div class="pull-right">
                              <button type="submit" class="btn btn-default btn-success">Submit <i class="icon-circle-arrow-right"></i></button>
                            </div>
            
                          </form>
                        </div>-->

          </div>
        </div>

      </div>
      <div class="col-xs-12 col-md-4"></div>
    </div>
  </div>
</div>