@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
to   {-webkit-transform: rotate(359deg);}
}
.rotate {
  -webkit-animation: rotation 2s infinite linear;
}

.loading-container {
  display: inline-block;
}