<div class="page-container">
  <div class="container">
    <div class="row" style="margin: 50px auto;">
      <div class="col-xs-12 col-md-4"></div>
      <div class="col-xs-12 col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="icon-user"></i>&nbsp; Login to your account
          </div>
          <div class="panel-body" style="background: #F8F8F8;">

            <a class="btn btn-default btn-block btn-lg btn-primary" ng-click="FBLogin()">
              <span ng-show="_loading.FBLogin" class="loading-container rotate"><i class="icon-refresh"></i></span>
              <span ng-hide="_loading.FBLogin"><i class="icon-facebook"></i></span>
              &nbsp; Login with Facebook
            </a>

            <div>&nbsp;</div>
            <div class="text-center">or</div> 
            <div>&nbsp;</div>

            <form name="loginForm" ng-submit="Login();">

              <div ng-show="loginForm._errorMessage" class="alert alert-danger">
                <span ng-bind-html-unsafe="loginForm._errorMessage"></span>
              </div>

              <div class="form-group">
                <input name="inputEmail" ng-model="inputEmail" type="email" class="form-control" placeholder="Enter email" required />
              </div>
              <div class="form-group">
                <input name="inputPassword" ng-model="inputPassword" type="password" class="form-control" placeholder="Password" required />
              </div>

              <div class="form-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input name="inputRemember" ng-model="inputRemember" type="checkbox"> Remember me
                    </label>
                  </div>
                </div>

                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-default btn-success">Login <i class="icon-circle-arrow-right"></i></button>
                </div>
              </div>
            </form>

            <div class="clearfix">&nbsp;</div>

            <div class="forget-password" style="border-top: 1px dotted #eee;">
              <h4>Forgot your password ?</h4>
              <p>
                no worries, click <a href="#/forget-password" id="forget-password">here</a>
                to reset your password.
              </p>
            </div>

            <div style="border-top: 1px dotted #eee;">&nbsp;</div>

            <div class="create-account">
              <p>
                Don't have an account yet ?&nbsp; 
                <a href="#/register" id="register-btn">Create an account</a>
              </p>
            </div>

          </div>
        </div>

      </div>
      <div class="col-xs-12 col-md-4"></div>
    </div>
  </div>
</div>