<div class="page-container">
  <div class="container container-bg-white">
    <div class="row">
      <div class="col-xs-12 col-md-12">

        <h3 class="page-title">
          Change Password <small>lorem ipsum</small>
        </h3>
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="/#/">Home</a> 
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="/#/user">User</a>
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">
            Change Password
          </li>
        </ul>

        <div ng-show="auth">

        </div>

        <div ng-hide="_loading.passwordResetCodeForm">

          <form class="form-horizontal" name="passwordChangeForm" ng-submit="PasswordChangeFormSubmit();">
            
            <div ng-show="passwordChangeForm._errorMessage" class="alert alert-danger">
              <span ng-bind-html-unsafe="passwordChangeForm._errorMessage"></span>
            </div>
            
            <div ng-show="passwordChangeForm._successMessage" class="alert alert-info">
              <span ng-bind-html-unsafe="passwordChangeForm._successMessage"></span>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label" for="inputEmail">
                New Password
              </label>
              <div class="col-lg-9">
                <input name="password" ng-model="frmInput.password" type="password" class="form-control" placeholder="Use alpha, numeric and symbol characters" required />
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label" for="inputEmail">
                Confirm New Password
              </label>
              <div class="col-lg-9">
                <input name="confirmPassword" ng-model="frmInput.confirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-3 col-lg-9">
                <button type="submit" class="btn btn-success">Change Password <i class="icon-circle-arrow-right"></i></button>
              </div>
            </div>
          </form>

        </div>

        <div ng-show="_loading.passwordResetCodeForm">
          <h1>Loading...</h1>
        </div>

        <div class="spinjs"></div> 

        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">&nbsp;</div>