<div class="page-container">
  <div class="container">
    <div class="row" style="margin: 50px auto;">
      <div class="col-xs-12 col-md-4"></div>
      <div class="col-xs-12 col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="icon-user"></i>&nbsp; Forgot your password?
          </div>
          <div class="panel-body" style="background: #F8F8F8;">

            <div ng-show="passwordForgetForm._completed">
              <p ng-bind-html-unsafe="passwordForgetForm._successMessage"></p>
              <p>Check your spam box too!</p>
            </div>

            <div ng-hide="passwordForgetForm._completed">

              <form name="passwordForgetForm" ng-submit="PasswordForget();">
                <div ng-show="passwordForgetForm._errorMessage" class="alert alert-danger">
                  <span ng-bind-html-unsafe="passwordForgetForm._errorMessage"></span>
                </div>

                <div class="form-group">
                  <label class="control-label" for="inputEmail">
                    Enter your email address:
                  </label>
                  <input name="inputEmail" ng-model="inputEmail" type="email" class="form-control" placeholder="Enter email" required />
                </div>

                <div>
                  <button type="submit" class="btn btn-default btn-success">Submit <i class="icon-circle-arrow-right"></i></button>
                </div>
              </form>

            </div>

          </div>
        </div>

      </div>
      <div class="col-xs-12 col-md-4"></div>
    </div>
  </div>
</div>