<div class="page-container">
  <div class="container container-bg-white">
    <div class="row">
      <div class="col-xs-12 col-md-12">

        <h3 class="page-title">
          Bin Details <small></small>
        </h3>

        <!-- BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="/#/">Home</a> 
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="/#/manage/pwc">PWC</a>
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">
            Bin
          </li>
        </ul>

        <!-- CONTENT -->
        <div class="row">

          <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                Bin Details
              </div>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Bin ID</td>
                    <td>3235</td>
                  </tr>
                  <tr>
                    <td>Sensor ID</td>
                    <td>278</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>230, Jurong East Street 21</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>92% Filled</td>
                  </tr>
                  <tr>
                    <td>Bin Type</td>
                    <td>Generic</td>
                  </tr>
                  <tr>
                    <td>Capacity (Volume)</td>
                    <td>240L</td>
                  </tr>
                  <tr>
                    <td>Last Report</td>
                    <td>2013-09-29 19:40</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                Service Details
              </div>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Recorded Service Events</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>Materials Recovered (Estimated)</td>
                    <td>1196 L</td>
                  </tr>
                  <tr>
                    <td>Service Efficiency (average weight/trip)</td>
                    <td>550 KG/trip</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Fill Level</div>
              <div class="panel-body">
                <div id="line-fill-level"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix">&nbsp;</div>

      </div>
    </div>
  </div>
</div>