<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">
        <span style="color: lightgreen">Recycle</span><span style="color: white">IT</span>
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': location.href.indexOf('leaderboard')}">
          <a href="#/leaderboard">Leaderboard</a>
        </li>
        <li ng-class="{ 'active': location.href.indexOf('bin-search')}">
          <a href="#/bins-search">Bins Search</a>
        </li>
        <li ng-class="{ 'active': location.href.indexOf('manage/pwc')}">
          <a href="#/manage/pwc">PWC Dashboard</a>
        </li>
        <li>
          <a href="http://recyclefun-blog.ap01.aws.af.cm/" target="_blank">Blog</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-hide="auth.user">
        <li>
          <a href="#/login">Login</a>
        </li>
        <li>
          <a href="#/register">Register</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="auth.user">
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <li class="dropdown" id="header_notification_bar">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-globe"></i>
            <!--            <span class="badge">0</span>-->
          </a>
          <ul class="dropdown-menu extended notification">
            <li>
              <p>You have 0 new notifications</p>
            </li>
            <li>
            </li>
            <li class="external">
              <a href="/#/user/notifications">See all notifications <i class="m-icon-swapright"></i></a>
            </li>
          </ul>
        </li>
        <!-- END NOTIFICATION DROPDOWN -->
        <li ng-show="auth.user" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/#/user/settings/">Settings</a></li>
            <li><a href="/#/user/profile/">Profile</a></li>
            <li><a href="/#/user/badges/">Badges</a></li>
            <li class="divider"></li>
            <li><a href="/#/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>