<div class="page-container">
  <div class="container container-bg-white">
    <div class="row">
      <div class="col-xs-12 col-md-12">

        <h3 class="page-title">
          Badges <small>lorem ipsum</small>
        </h3>
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="/#/">Home</a> 
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="/#/user">User</a>
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">
            Badges
          </li>
        </ul>

        <div>
          <div class="col-xs-12 col-md-3" data-tablet="span6" data-desktop="span3">
            <div class="dashboard-stat blue">
              <div class="visual">
                <i class="icon-sun"></i>
              </div>
              <div class="details">
                <div class="number">
                  1 KG
                </div>
                <div class="desc">                           
                  Total Collection
                </div>
              </div>
              <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
              </a>                 
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>