<div class="page-container">
  <div class="container container-bg-white">
    <div class="row">
      <div class="col-xs-12 col-md-12">

        <div ng-show="IsPageOwner();">
          <div class="pull-right">
            <a href="/#/user/settings" class="btn btn-primary"><i class="icon-edit"></i>&nbsp; Edit Profile</a>
          </div>
        </div>

        <h3 class="page-title">
          User Profile <small></small>
        </h3>

        <!-- BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="/#/">Home</a> 
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="/#/user">User</a>
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">
            Profile
          </li>
        </ul>

        <div ng-show="_loading.GetUser">
          <h3>Loading...</h3>
          <div>&nbsp;</div>
        </div>
        <div ng-hide="_loading.GetUser">

          <div ng-show="_error.message">
            <div class="alert alert-danger">{{_error.message}}</div>
          </div>

          <div ng-hide="_error.message">

            <!-- START USER PROFILE DETAILS -->
            <div class="row">

              <!-- START PROFILE PHOTO -->
              <div class="col-xs-12 col-md-3">
                <img ng-src="{{user.profile_image.gravatar}}" class="img-thumbnail" />
              </div>
              <!-- END PROFILE PHOTO -->

              <!-- START PROFILE INFO -->
              <div class="col-xs-12 col-md-6">
                <h1>{{user.name.display_name || '(no name)'}}</h1>
                <div>
                  <p ng-bind-html-unsafe="user.bio"></p>
                </div>
                <div ng-show="user.created_on">
                  <p><span><i class="icon-calendar"></i>&nbsp;</span> Member since {{user.created_on}}</p>
                </div>
                <div ng-show="user.website">
                  <p>
                    <span><i class="icon-globe"></i>&nbsp;</span>
                    <a href="{{user.website}}" target="_blank">
                      {{user.website}} <i class="icon-external-link"></i>
                    </a>
                  </p>
                </div>
                <div ng-show="user.interest">
                  <span><i class="icon-heart"></i></span>
                  <ul class="list-unstyled list-inline" style="display: inline-block;">
                    <li ng-repeat="i in user.interest">
                      <span class="label label-info">{{i}}</span>
                    </li>
                  </ul>
                </div>

              </div>
              <!-- END PROFILE INFO -->

              <!-- START PROFILE BADGES -->
              <div class="col-xs-12 col-md-3">
                <div class="row-fluid">

                  <div class="dashboard-stat green achievement-badge">
                    <div class="visual">
                      <i class="icon-user"></i>
                    </div>
                    <div class="details">
                      <div class="number">
                        Beta User
                      </div>
                      <div class="desc">                           
                        Early adopters
                      </div>
                    </div>
                    <a class="more" href="#/badge/1">
                      Details <i class="icon-circle-arrow-right"></i>
                    </a>                 
                  </div>

                  <div class="dashboard-stat green achievement-badge">
                    <div class="visual">
                      <i class="icon-sun"></i>
                    </div>
                    <div class="details">
                      <div class="number">
                        First 1 KG
                      </div>
                      <div class="desc">                           
                        Total Collection
                      </div>
                    </div>
                    <a class="more" href="#/badge/2">
                      Details <i class="icon-circle-arrow-right"></i>
                    </a>                 
                  </div>

                  <div ng-show="!IsPageOwner();">
                    <a href="#/user/{{userid}}/badges" class="btn btn-block btn-primary">
                      View Complete list.
                    </a>
                  </div>
                  <div ng-show="IsPageOwner();">
                    <a href="#/user/badges" class="btn btn-block btn-primary">
                      View Complete list.
                    </a>
                  </div>

                </div>
              </div>
              <!-- END PROFILE BADGES -->
            </div>
            <!-- END USER PROFILE DETAILS -->

            <div class="clearfix">&nbsp;</div>

            <!-- START USER STATISTICS -->
            <div class="user-statistics row">
              <div class="col-xs-12 col-md-12">

                <!-- START ALL-TIME CONTRIBUTION -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4>All-time Contribution</h4>
                  </div>
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-xs-12 col-md-4 responsive" data-tablet="span6" data-desktop="col-xs-12 col-md-3">
                        <div class="dashboard-stat blue">
                          <div class="visual">
                            <i class="icon-leaf"></i>
                          </div>
                          <div class="details">
                            <div class="number">
                              15 kg
                            </div>
                            <div class="desc">                           
                              1/4 of a tree has been saved
                            </div>
                          </div>
                          <a class="more" href="#">
                          </a>                 
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 responsive" data-tablet="span6" data-desktop="col-xs-12 col-md-3">
                        <div class="dashboard-stat green">
                          <div class="visual">
                            <i class="icon-star"></i>
                          </div>
                          <div class="details">
                            <div class="number">
                              1024
                            </div>
                            <div class="desc">
                              Points collected
                            </div>
                          </div>
                          <a class="more" href="#">
                          </a>                 
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4 responsive" data-tablet="span6" data-desktop="col-xs-12 col-md-3">
                        <div class="dashboard-stat yellow">
                          <div class="visual">
                            <i class="icon-dollar"></i>
                          </div>
                          <div class="details">
                            <div class="number">S$3</div>
                            <div class="desc">Earned</div>
                          </div>
                          <a class="more" href="">
                          </a>                 
                        </div>
                      </div>
                    </div>

                    <table class="table table-hover">
                      <thead>
                        <tr class="text-center">
                          <td></td>
                          <td>Paper</td>
                          <td>Can</td>
                          <td>Glass</td>
                          <td>Plastic</td>
                          <td>Cloth</td>
                          <td>Garden</td>
                          <td>misc</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td>Total (kg)</td>
                          <td>10</td>
                          <td>5</td>
                          <td>7</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">4</td>
                          <td>6</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">1</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">1</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
                <!-- END ALL-TIME CONTRIBUTION -->
                <!-- START DETAIL TRANSACTION-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4>Detailed transactions</h4>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <div id="bar-transaction"></div>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        <table class="table table-hover table-condensed">
                          <thead>
                            <tr class="text-center">
                              <td style='font-weight:bold'>Time</td>
                              <td style='font-weight:bold'>Location</td>
                              <td style='font-weight:bold'>Transaction</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="text-center">
                              <td >1:10 PM, Sept 28th 2013</td>
                              <td>Bedok</td>
                              <td style='font-style:italic'>You have recycled 1.5 kg of cans. </td>
                            </tr>
                             <tr class="text-center">
                              <td >8:23 AM, Sept 23th 2013</td>
                              <td>Clementi</td>
                              <td style='font-style:italic'>You have recycled 0.7 kg of plastic. </td>
                            </tr>
                            </tr>
                            <tr class="text-center">
                              <td >4:11 PM, Sept 21th 2013</td>
                              <td>Bugis</td>
                              <td style='font-style:italic'>You have recycled 1.2 kg of paper. </td>
                            </tr>
                            <tr class="text-center">
                              <td >3:10 PM, Sept 4th 2013</td>
                              <td>Bugis</td>
                              <td style='font-style:italic'>You have recycled 0.4 kg of paper. </td>
                            </tr>
                            <tr class="text-center">
                              <td >1:11 PM, Sept 1st 2013</td>
                              <td>Bugis</td>
                              <td style='font-style:italic'>You have recycled 0.8 kg of paper. </td>
                            </tr>
                          </tbody>
                        </table>
                        <h4 class="text-right">
                          <a href="#/user/detailed-transactions" class="more btn btn-primary">View All <i class="icon-circle-arrow-right"></i></a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- END DETAIL TRANSACTION -->

                <!-- START MONTHLY CONTRIBUTION -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4>Monthly Contribution</h4>
                  </div>
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <div id="donut-example"></div>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        <div id="bar-example"></div>
                      </div>
                    </div>


                    <table class="table table-hover">
                      <thead>
                        <tr class="text-center">
                          <td></td>
                          <td>Paper</td>
                          <td>Can</td>
                          <td>Glass</td>
                          <td>Plastic</td>
                          <td>Cloth</td>
                          <td>Garden</td>
                          <td>misc</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td>Current month (kg)</td>
                          <td>10</td>
                          <td>5</td>
                          <td>7</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">4</td>
                          <td>6</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">1</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">1</td>
                        </tr>
                        <tr style="text-align: center;">
                          <td>Last month (kg)</td>
                          <td>40</td>
                          <td>14</td>
                          <td>6</td>
                          <td>9</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">4</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">3</td>
                          <td style="color: red; font-weight: bold; background: #EFEFEF;">2</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
                <!-- END MONTHLY CONTRIBUTION -->


              </div>
            </div>
            <!-- END USER STATISTICS -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>